@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #043149;
}

/* navbar styling */
.navbar--styling {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #fff;
}

a.nav-link {
  color: #ef4020;
  font-weight: 600;
  font-size: 1.2rem;
}

a.nav-link.active {
  color: #043149;
  font-weight: 700;
  font-size: 1.2rem;
}

a.nav-link:hover {
  color: #043149;
}
/* sidebar styles */
#sidebar {
  width: 270px;
}

.btn--styling {
  background-color: #ef4020;
  color: #fff;
  font-weight: 600;
  border-radius: 0.75rem;
}

.custom-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
}

.custom-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.username {
  color: #ef4020;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
}

.username:hover {
  color: #043149;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  main {
    margin-left: 270px;
    margin-top: 56px;
    background-color: #fafafa;
    min-height: calc(100vh - 56px);
    padding: 30px;
  }

  .offcanvas-backdrop::before {
    display: none;
  }

  #sidebar {
    transform: none;
    visibility: visible !important;
    top: 56px;
    height: calc(100% - 56px);
    z-index: -1;
  }
}