<!-- <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Link with href
</a>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Button with data-bs-target
</button> -->

<div class="offcanvas offcanvas-start" id="sidebar" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-body">
    
    <div class="pt-3">
      <h3>Categories</h3>
      <hr>
      <a href="/category/interview" class="d-block">Interview Pitch</a>
      
      Business Pitch
      Promotion Pitch
      Product Pitches
      Pickup Lines
    </div>
  </div>
</div>